.page-header{
  background-image: url('../img/bg.jpg');
 
  background-repeat: no-repeat;
  position: relative;
  height: 29vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;
}
.bg-page {
  background-color: rgba(78, 141, 219, 0.45);
  
  height: 81vh;
}